[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
isort = "*"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
mysqlclient = "*"
django-environ = "*"
pymysql = "*"
