<!DOCTYPE html>
<html lang="ja">

<head>
  {% csrf_token %}
  <meta charset="UTF-8">
  <title>エレラ簿システム | SEL</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/master.css">
  <link rel="stylesheet" href="/static/css/tomato.css">
</head>

<body>
  <div class="content-wrapper"></div>
  <div id="app">
    <div class="text-center" style="width:600px;margin:auto;background-color: beige;opacity: 0.7;" >
      <div>
       <header><h1>[[ title ]]</h1></header>
       <nav>
         <router-link to="/">ホーム</router-link> /
         <router-link to="/users">ユーザー</router-link> /
         <router-link to="/projects">プロジェクト</router-link> /
         <router-link to="/samples">SampleList</router-link> /
         <a href="https://github.com/selelab/regulations/blob/master/%E4%BC%9A%E5%89%87.md">会則</a> /
         <router-link to="/tomatojuice">Totmatojuice</router-link> /
         <router-link :to="auth_path">[[ auth_text ]]</router-link>
       </nav>
      </div>
  </div>
  <script type="module" src='/static/main.js'></script>
</body>

</html>
