.router-view {
	margin-top: 10%;
	/* padding-top: 20%; */
}

.projects {
	text-align: left;
	list-style: none;
	background-color: black;
	color: red;
	font-family: "Avenir";
}

.project_info {
	padding-left: 20px;
}

.sample1a {
	background-color: black;
}

.sample2a {
	background-color: black;
}

.detail {
	height: 3000px;
	background-color: red;
}

.modal_wrap input {
	display: none;
}

.modal_overlay {
	display: flex;
	justify-content: center;
	overflow: auto;
	position: fixed;
	z-index: 9999;
	width: 40%;
	height: 40%;
	background: #FFFFFF;
	opacity: 0;
	transition: opacity 0.5s, transform 0s 0.5s;
	transform: scale(0);
}

.modal_trigger {
	position: absolute;
	width: 100%;
	height: 100%;
}

.modal_content {
	position: relative;
	align-self: center;
	width: 60%;
	max-width: 800px;
	padding: 30px 30px 15px;
	box-sizing: border-box;
	background: #FFFFFF;
	line-height: 0.1m;
	transition: 0.5s;
}

.close_button {
	position: absolute;
	top: 14px;
	right: 16px;
	font-size: 24px;
	cursor: pointer;
}

.header {
	position: fixed;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
}

#user_list_wrapper {
	width: 600px;
	margin: auto;
}

#users {
	list-style: none;
	display: grid;
	grid-template-rows: 200px 200px 200px 200px;
	grid-template-columns: 200px 200px 200px;
}

.profile_image {
	width: 80%;
	height: 80%;
}

.modal_wrap input:checked~.modal_overlay {
	opacity: 1;
	transform: scale(1);
	transition: opacity 0.5s;
}

.form-control {
	width: 280x;
}

.myButton {
	box-shadow: inset 0px 3px 0px 0px #cf866c;
	background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color: #d0451b;
	border-radius: 6px;
	border: 1px solid #942911;
	display: inline-block;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 10px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #854629;
}

.myButton:hover {
	background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color: #bc3315;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.floatco1 {
	float: left;
	margin-right: 10px;
	width: 250px;
	background-color: #F5F5F5;
}

.box {
	height: 200px;
	width: 400px;
	background: #808080;
	color: white;
	padding: 20px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

#myChart {
	width: 50px;
	height: 50px;
}

h1,
h2,
h3,
h4 {
    margin: .1rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
  position: relative;
  display: inline-block;
  padding: 0 45px;
}
h2:before, h2:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 44px;
  height: 2px;
  background-color: black;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
h2:before {
  left:0;
}
h2:after {
  right: 0;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}
